/* css selectors
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 40px 0 40px;
    background: brown;
    font-family: Arial, Helvetica, sans-serif;
}
.dashboard{
  margin-top: 3%;
}
ul{
    display: flex;
    list-style-type: none;
    color: aliceblue;
}
li{
    margin: 0px 20px 0px 20px; 
}

nav ul li a{
    color: black;
    text-decoration: none;
    text-transform: capitalize;
    font-size: medium;
    text-decoration-color: white;
}
div.sign-up a{
    color: floralwhite;
    background-color: salmon;
    text-decoration: none;
    padding: 10px 20px; 
    border-radius: 20px;
} */





@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  min-height: 100vh;
  /* background: url('background.jpg') no-repeat; */
  /* background: url('/img/Auction-3.png') no-repeat; */
  /* background: url('https://t3.ftcdn.net/jpg/04/12/82/16/360_F_412821610_95RpjzPXCE2LiWGVShIUCGJSktkJQh6P.jpg') no-repeat; */
  background: url('https://img.freepik.com/premium-photo/burgundy-grey-gradient-background_943281-51133.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  height: 10vh;
}

/* IFRAME ALIGNEMENT */

.iframe-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.iframe-container1{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin-top: 2%;
}

/* header .navbar a:hover{
  background: #333;
  color: #ffffff;
  border-radius: 10px;
} */

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .1);
  backdrop-filter: blur(50px);
  z-index: -1;
}

.header::after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
  transition: .5s;
}

.header:hover::after {
  left: 100%;
}

.logo{
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  width: 100px;
  align-items: center;
}

/* .navbar a{
  font-size: 1.15rem;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 2.5rem; 
} */

#check {
  display: none;
}

.icons{
  position: absolute;
  right: 5%;
  font-size: 2.8rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

/* BREAKPOINTS */

@media (max-width: 992px) {
  .header {
    padding: 1.3rem 5%;
  }
}

@media (max-width: 768px) {
  .icons {
    display: inline-flex;
  }

  #check:checked~.icons #menu-icon {
    display: none;
  }

  .icons #close-icon {
    display: none;
  }

  #check:checked~.icons #close-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    overflow: hidden;
    transition: .3s ease;
  }

  #check:checked~.navbar {
    height: 17.7rem; 
  }

  .navbar a {
    display: block;
    font-size: 0.1rem;
    margin: 0rem 0;
    text-align: center;
    transform: translateY(-50px);
    opacity: 0;
    transition: .3s ease;
  }

  #check:checked~.navbar a {
    transform: translateY(0);
    opacity: 1;
    transition-delay: calc(.15s * var(--i));
  }

  /* Hamburger */

}

/* HEADER */

header .navbar ul{
  list-style: none;
}

header .navbar ul li{
  position: relative;
  float: left;
}

header .navbar ul li a{
  font-size: 15px;
  padding: 20px;
  margin: 1.5px;
  /* color: #3a1919; */
  color: #fff;
  display: block;
  text-decoration: none;
}

/* Tab Selector in Navbar */
header .navbar ul li a:hover{
  background: #333;
  color: #ffffff;
  box-shadow: 1px 3px 40px rgb(0 0 0 / 10%);
  border-radius: 5px;
  transition: .5s
}

/* Tab Selector in Navbar */
a.active,a:hover {
  background: #333;
  border-radius: 5px;
  transition: .5s;
}

/* EXTRA TAB SELECTOR EFFECT */
.navbar a::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background: #e4e4e4;
  border-radius: 5px;
  transform: translateY(10px);
  transition: .5s;
  opacity: 0;
}

/* EXTRA TAB SELECTOR EFFECT */
.navbar a:hover::after{
  transform: translateY(0);
  opacity: 1;
}

header .navbar ul li ul{
  position: absolute;
  left: 0;
  width: 200px;
  background: #7a7676;
  display: none;
}

header .navbar ul li ul li{
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, .1);
}

header .navbar ul li ul li ul{
  left: 200px;
  top: 0;
}

header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul{
  display: initial;
}




